{{#if todos.length}}
  <h1> Todos </h1>
  <br />
  <ul>
    {{#each todos}}
      <li>Description: <a href="/todos/{{@index}}">{{description}}</a></li>
      <li>{{location}}</li>
      <li>Urgent: {{urgent}}</li>
      <br />
      <div><a href="/todos/{{@index}}/edit" class="btn btn-default">Edit Todo</a></div>
      <br />
      <form action="/todos/{{@index}}?_method=DELETE" method="POST">
        <input type="submit" value="DELETE" class="btn btn-danger" />
      </form>
      <br />
    {{/each}}
  </ul>
{{else}}
  <h1>You haven't added any todos yet!  Click on the link below to add a new todo! </h1>
{{/if}}

<a class="btn btn-default" href="\todos\new">Add a New Todo</a>
